.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* text-align: center; */
  margin: auto;
  width: 80%;
  height: 80%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 1rem;
}