.no-scroll {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.home {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* .tittle-group {
    text-align: center;
    align-items: center;
}

.title--h1 {
    font-size: 2.5rem;
    line-height: 1;
    margin: 0;
}

.title--h2 {
    font-size: 1rem;
    padding: 1.5rem;
    line-height: 1;
}

@media (min-width: 480px) {
    .title--h1 {
        font-size: 3.5rem;
    }

    .title--h2 {
        font-size: 1.5rem;
    }
}

@media (min-width: 667px) {
    .title--h1 {
        font-size: 4.5rem;
    }

    .title--h2 {
        font-size: 2.5em;
    }

} */