.private-profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.private-profile--header {
    display: flex;
    flex-direction: column;
    border: 1px dotted var(--main-color);
    border-radius: 4px;
    padding: 2rem;
    gap: 2rem;
}

.private-profile--info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.private-profile--info img {
    max-width: 100px;
    max-height: 100px;
    display: block;
}

.private-profile--info div {
    text-align: left;
}

.private-profile--buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.form-private-profile {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    border-radius: 8px;
    width: 100%;
    align-items: center;
}

.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 16px;
    transition: border-bottom-color 0.3s;
}

.input-container input:focus {
    border-bottom-color: var(--main-color);
}

.input-container label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #888;
    font-size: 16px;
    transition: top 0.3s, font-size 0.3s;
}

.input-container.has-value label,
.input-container input:focus+label {
    top: -20px;
    font-size: 12px;
    color: var(--main-color);
}


.private-profile--socialnetwork {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}


@media (min-width: 667px) {

    .form-private-profile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin: 0 auto;
        border-radius: 8px;
        max-width: 80%;
        width: 100%;
        align-items: center;
    }

    .private-profile--buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}