.private-profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.private-profile--section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.private-profile--section h1 {
    margin: 0;
}

.private-profile--header {
    display: flex;
    flex-direction: column;
    border: 1px dotted var(--main-color);
    border-radius: 4px;
    padding: 2rem;
    gap: 2rem;
}

.private-profile--info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.private-profile--info img {
    max-width: 100px;
    max-height: 100px;
    display: block;
}

.private-profile--info div {
    text-align: left;
}

.private-profile--buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.private-profile--socialnetwork {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}


.private-profile--fav-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--main-color);
    width: 100%;
    border-radius: 4px;
    color: var(--white-color);
    padding: 15px;
}