# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build

# misc
.DS_Store
.env.local
.env
.env.production

# Logs
npm-debug.log*

# packages
package-lock.json

# generated vercel output
.vercel/

../.idea