.newtrip--form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.create-trip--header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
}

.create-trip--placeToGo {
    font-size: 7.5vw;
    margin: 0;
}

.create-trip--travelDays {
    font-size: 2.5vw;
    margin: 0;
}

.create-trip--form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    border-radius: 8px;
    width: 100%;
    align-items: center;
}




.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 16px;
    transition: border-bottom-color 0.3s;
}

.input-container input:focus {
    border-bottom-color: var(--main-color);
}

.input-container label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #888;
    font-size: 16px;
    transition: top 0.3s, font-size 0.3s;
}

.input-container.has-value label,
.input-container input:focus+label {
    top: -20px;
    font-size: 12px;
    color: var(--main-color);
}

@media (min-width: 667px) {

    .create-trip--form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin: 0 auto;
        border-radius: 8px;
        max-width: 80%;
        width: 100%;
        align-items: center;
    }
}